:root {
  --background-color: #f5f2fe;
  --main-color: #6c63ff;
  --secondary-color: #4b4b4b;
  --terciary-color: #f5f2fe;
}

body {
  display: block;
  margin: auto;
  margin-top: 50px;
}

h1 {
  font-size: 96px;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 48px;
  margin: 0;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: var(--secondary-color);
}

p {
  font-size: 16px;
}

.hero {
  background: var(--terciary-color);
  justify-content: center;
  padding: 130px 0;
}

.hero p {
  color: var(--main-color);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.information-about-me {
  font-size: 16px;
  line-height: 1.5;
}

.email {
  font-size: 24px;
  color: var(--main-color);
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

.contact-link {
  border: solid 1px var(--main-color);
  border-radius: 4px;
  padding: 20px 15px;
  margin: 20px 20px;
  text-decoration: none;
  background: var(--main-color);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.project-link {
  color: var(--main-color);
  font-weight: 700;
  background: var(--background-color);
  border: solid 2px var(--main-color);
  border-radius: 10px;
  padding: 20px 15px;
  margin: 20px 20px;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.work-together {
  text-align: left;
  margin: 60px 0;
  padding: 20px 0;
  border-radius: 10px;
  background-color: var(--background-color);
}

.work-together-text {
  margin-top: auto;
  margin-bottom: auto;
}

.work-together-text p {
  margin-bottom: 0;
}

.work-together a {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
  }

  .about-me-image {
    max-width: 90%;
    display: block;
    margin: auto;
  }

  .information-about-me {
    font-size: 14px;
  }

  .email {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .information-about-me {
    font-size: 12px;
    text-align: center;
  }

  .email {
    font-size: 14px;
  }
}
