:root {
  --background-color: #f5f2fe;
  --main-color: #6c63ff;
  --secondary-color: #4b4b4b;
  --terciary-color: #f5f2fe;
}

body {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 96px;
  margin: auto;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  margin: 0;
  color: var(--secondary-color);
}

p {
  font-size: 18px;
}

.hero {
  background: var(--terciary-color);
  justify-content: center;
  padding: 130px 0;
}

.introduction {
  margin: 0;
}

.links-pages {
  display: flex;
  justify-content: center;
}

.contact-link,
.about-link {
  border: solid 1px var(--main-color);
  border-radius: 4px;
  padding: 20px 15px;
  margin: 20px 20px;
  text-decoration: none;
}

.contact-link {
  background: var(--main-color);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.launch-link {
  border: solid 1px var(--main-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--main-color);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.about-link {
  color: var(--main-color);
}

.information-table {
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.photo-container {
  background-color: var(--terciary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container img {
  width: 100%;
  height: auto;
}

.info-part {
  margin-top: 48px;
  margin-bottom: 40px;
  padding: 0 24px 28px 24px;
}

.name-app {
  margin: 0 0 16px 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .email {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .row {
    display: flex;
    flex-flow: column;
  }

  .info-part {
    order: 2;
  }
  .image-part {
    order: 1;
    max-width: 60%;
    margin: auto;
  }

  .info-part {
    margin-top: 28px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .info-part h2,
  p {
    text-align: center;
  }

  .launch-link {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p,
  a {
    font-size: 12px;
  }

  .links-pages {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .photo-container {
    display: none;
  }

  .info-part h2,
  p {
    text-align: center;
  }

  .info-part {
    margin-bottom: 0;
  }

  .launch-link {
    display: block;
    margin: auto;
    text-align: center;
  }
}
