:root {
  --background-color: #f5f2fe;
  --main-color: #6c63ff;
  --secondary-color: #4b4b4b;
  --terciary-color: #f5f2fe;
}

body {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 96px;
  margin: auto;
}

h2 {
  font-size: 48px;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: var(--secondary-color);
}

p {
  font-size: 16px;
}

.about-me {
  justify-content: center;
  padding: 130px 0 50px;
}

.information-about-me {
  font-size: 16px;
  line-height: 1.5;
}

.email {
  font-size: 24px;
  color: var(--main-color);
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

.projects-link {
  border: solid 1px var(--main-color);
  border-radius: 4px;
  padding: 20px 15px;
  margin: 20px 20px;
  text-decoration: none;
  background: var(--main-color);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.contact-me {
  padding: 100px 0;
  background-color: var(--background-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  .information-about-me {
    font-size: 14px;
    text-align: center;
  }

  .email {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .information-about-me {
    font-size: 12px;
  }

  .email {
    font-size: 14px;
  }
}
